header {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url(/src/assets/img/daylight-environment-forest-459225.jpg);
    height: 600px;
    padding-top: 80px;
    margin-bottom: 60px;
    background-size: cover;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8em;
    color: white;
}